<% if resource.errors.any? %>
  <div class="alert alert-danger" data-turbo-cache="false">
    <h6>
      <%= pluralize(resource.errors.count, "個のエラー") %>が発生しました:
    </h6>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>